.SamplePprojectContainer{
    height: 600px;
    width: 1300px;
}

.h1{
    font-size: 64px;
    font-family: Roboto;
    color: #BDBDBD;
    margin-left: 10%;
}

.Image1{
   margin-left: 5%;
}

.Image2{
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}

.description{
    font-family: Roboto;
    color: #333333;
    font-size: 16px;
    margin-top: 5%;
}

.Image3{
   margin-left: 5%;
}