@tailwind base;
@tailwind components;
@tailwind utilities;


.Header{
    background-color: rgba(16, 25, 156, 0.774);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: 20px;
}

.Header-Button{
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  cursor: pointer;
}

.Home{
  width: 1300px;
  height: 2800px;
}

.Children{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  height: 510px;
}

.GrandChild{
  width: 1300;
  height: 200px;
  font-weight: 100;
  color: black;
  margin-left: 5%;
}

.Image {
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 3%;
}

.h1{
  margin-left: 2%;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(16, 25, 156, 0.774);
}

.description{
  font-size: 20px;
  margin-left: 2%;
}

.bounce-in-right {
	-webkit-animation: bounce-in-right 1.1s both;
	animation: bounce-in-right 1.1s both;
}

/* blog content page images */
#Picture{
  margin-left: 18%;
  margin-top: 2%;
  width: 800px;
  height: 500px;
}

#Picture:hover{
  box-shadow: rgba(77, 72, 72, 0.09),
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* About us  */

.AboutContainer{
  background-color: rgb(176, 223, 241);
  height: 620px;
  width: 1200px;
  margin-left: 5%;
  margin-right: 5%;
}

.Heading{
  font-size: 60px;
  color: rgba(16, 25, 156, 0.774);
  text-align: center;
}

.H1{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 2%;
}

.paragraph{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  padding: 20px;
}

.buttonContainer{
  background-color:  rgba(16, 25, 156, 0.774);
  color: white;
  border-radius: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  margin-top: 2%;
  padding: 10px;
  margin-right: 10%;
}

.buttonContainer:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

.Heading{
  font-size: 80pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgba(16, 25, 156, 0.774) ;
  margin-left: 30%;
  margin-top: 5%;
  margin-right:30%;
}

/*blog page  */
.BlogsContainer{
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.childContainer{
  height: 380px;
  width: 300px;
  border: 4px solid rgba(37, 65, 173, 0.774);
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  transition-duration: 0.5s;
}

.childContainer:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imageContainer{
  width: 100%;
  height: 180px;
  border: 2px;
}

.title{
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  white-space: inherit
}

.description {
  font-size: 14px;
}

.button {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:white;
  border-radius: 30px;
  border: 2px solid rgba(16, 25, 156, 0.774);
  width: 100px;
  height: 25px;
  margin-top: 5px;
  margin-left: 60px;
}

.button:hover {
  background: rgba(16, 25, 156, 0.774);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
}

/* Contact page */
.ContactChild{
  justify-content: space-between;
  display: flex;
}

.ContactHeading{
  color: rgba(16, 25, 156, 0.774);
  font-size: 88px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 5%;
}

.Form{
  border:2px solid  rgba(16, 25, 156, 0.774);
  height: 50%;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5%;
  background-color: white;
  padding: 15px;
  color: black;
  font-size: 17px;
}

#input{
  width: 90%;
  padding: 5px;
  margin: 5px ;
  box-sizing: border-box;
  border: 2px solid rgba(16, 25, 156, 0.774);
  border-radius: 4px;
  font-size: 16px;
  color: #333; 
  font-family: 'Arial', sans-serif;
  background-color: rgb(218, 235, 229);
}

.Description{
  color: black;
  font-size: 20px;
  margin-left: 30px;
}

.submitButton{
  background-color: rgba(16, 25, 156, 0.774);
  color: #f5ebeb;
  border-radius: 200px;
  font-size: 15px;
  padding: 5px;
  margin-left: 40%;
  width: 80px;
  height: 30px;
}

.submitButton:hover{
  background-color: black;
  color: white;
}

/* Footer */
.Footer{
  height: 420px;
  width: 1348px;
  background-color: rgba(16, 25, 156, 0.774);
  color: white;
}

.FooterChild{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.Footer-Button{
  color: white;
  margin-right: 1%;
  margin-top: 5%;
}

.Footer-Button :hover{
  border: 1px solid white;
}

.SocialImages{
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

hr{
  color: white;
  margin-top: 2%;
  width: 100%;
  size: 5; 
}

.FooterLine{
  text-align: center;
}

.Footer-Product , .Footer-Services ,.Footer-Company {
  margin-left: 10%;
  margin-top: 2%;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .Header-Button {
       gap: 20px;
       flex-direction: row;
       width: 100%;
       font-size: 15px;
    }

    .Home{
      width: 100%;
      height: auto;
    }
  
    .Children{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .GrandChild{
        width: 100%;
        font-size: 12px;
        margin-left: 0;
    }

    .h1 {
        font-size: 40px;
        text-align: center;
    }

    .description {
        font-size: 15px;
        text-align: center;
    }

    .Image{
        width: 70%;
    }

    .AboutContainer{
       width: 100%;
       height: auto;
       margin: 0%;
    }

    .H1{
       font-size: 25px;
       text-align: center;
    }
    
    .paragraph {
       font-size: 15px;
       padding: 5px;
    }

    .buttonContainer{
       margin-top: 5%;
       margin-left: 25%;
    }

    .ContactContainer{
       width: 100%;
       flex-direction: row;
    }

    .Form{
       width: 60%;
       height: auto;      
    }

    #Image{
       width: 40%;
    }

    .Heading {
       font-size: 40px;
       text-align: center;
    }

    #Picture {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .Footer {
        flex-direction: row;
        padding: 10px;
        font-size: 12px;
        width: 100%;
        height: auto;
    }

    .Footer-Button {
        gap: 5px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
   .Header{
        width: 100%;
    }

    .Header-Button {
      padding: 10px;
      gap: 10px;
    }

    .h1 {
        font-size: 24px;
    }

    .description {
        font-size: 12px;
    }
      
    .h1 {
       font-size: 34px;
       text-align: center;
    }

    .Footer {
        width: 100%;
        padding: 5px;
        font-size: 7px;
    }
}

