@tailwind base;
@tailwind components;
@tailwind utilities;


.Header{
    background-color: rgb(24, 26, 26);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Header-Button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    cursor: pointer;
}

.HomeContainer{
    background-color: rgb(162, 100, 219);
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 500px;
    width: 1350px;
}

.childContainer{
    width: fit-content;
    height: 300px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: black;
    margin-left: 30px;
}

h1 {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#image {
    border-radius: 300px;
    border: 2px solid black; 
    margin-right: 30px;
    margin-left: 60px;
}

.Footer{
    background-color: black;
    color: white;
    margin-top: 61px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.Footer-Button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    cursor: pointer;
}

