@tailwind base;
@tailwind components;
@tailwind utilities; 
body {
  background-color: rgb(136, 194, 233);
  
}

.header{
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-size: 28pt;
}

.header-button{
  font-size: 15pt;
  display: flex;
  gap: 50px;
  align-items: right;
  justify-content: right;
  cursor: pointer;
  padding: 10px;
}

.HomeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1350px;
  height: 510px;
}

.childContainer{
  width: fit-content;
  height: 200px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  color: black;
  margin-left: 30px;
}

#picture {
  border-radius: 300px;
  border: solid 5px black;
  margin-left : 30px;
  margin-right : 60px;
}

.footer{
  background-color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-size: 12pt;
}

.footer-button{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 45px;
  gap : 50px;
  cursor: pointer;
}