.CertificationConatiner{
    height: 435px;
    width: 1300px;
}

.h1{
    font-size: 64px;
    font-family: Roboto;
    color: #BDBDBD;
    margin-left: 10%;
}

.h2{
    font-size: 64px;
    font-family: Roboto;
    color: #333333;
    font-weight: bold;
    margin-left: 10%;
    height: 435px;
}

@media screen and (max-width: 768px){
    .CertificationConatiner{
        height: auto;
        width: 100%;
    }

    .h1{
        font-size: 32px;
        margin-left: 3%;
    }

    .h2{
        font-size: 32px;
        margin-left: 3%;
    }
}

@media screen and (max-width: 400px){
    .CertificationConatiner{
        height: auto;
        width: 100%;
    }

    .h1{
        font-size: 28px;
        margin-left: 3%;
    }

    .h2{
        font-size:28px;
        margin-left: 3%;
    }
}